<div class="ms-4">
  <div class="data-heading-wrapper">
    <div class="elem">1</div>
    <h2 class="fw-bold">Особисті дані</h2>
  </div>
  <form [formGroup]="personalDataForm">
    <div class="mb-3 d-flex">
      <input
        formControlName="firstName"
        type="text"
        class="form-control me-3 admin-text-input"
        placeholder="* Ваше ім'я"
      />
      <input
        formControlName="lastName"
        type="text"
        class="form-control admin-text-input"
        placeholder="* Ваше прізвище"
      />
    </div>
    <div class="mb-3">
      <input
        formControlName="phone"
        type="text"
        class="form-control admin-text-input"
        placeholder="* Ваш номер телефону"
        style="width: 716px"
      />
    </div>
    <div class="mb-3">
      <input
        formControlName="email"
        type="text"
        class="form-control admin-text-input"
        placeholder="* Ваш емейл"
        style="width: 716px"
      />
    </div>

    <div class="data-heading-wrapper mt-5">
      <div class="elem">2</div>
      <h2 class="fw-bold">Адреси</h2>
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="admin-add-btn mt-2">ДОДАТИ АДРЕСУ</button>

      <button
        [disabled]="personalDataForm.invalid"
        type="submit"
        class="admin-add-btn mt-2"
      >
        ЗБЕРЕГТИ ЗМІНИ
      </button>
    </div>
  </form>
</div>
