hr {
  background-color: var(--primary-color);
  height: 5px;
  border: 1px solid var(--primary-color);
}

.footer {
  padding: 20px 0;
  margin: 0 35px;
}

.footer img {
  height: 50px;
}

.copyright {
  font-size: 13px;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  transition: 300ms;
}

a:hover {
  color: var(--primary-color);
}

.pay-card {
  width: 80px;
  height: 45px;
  margin-right: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-cards {
  display: flex;
}

.pay-card img {
  display: block;
  width: 40px;
}

.col-text {
  width: 240px;
}

.media {
  display: flex;
}

.media-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-link:hover {
  background-color: transparent;
}

.media-link img {
  width: 20px;
  height: 20px;
}
