<div class="container-fluid">
  <div class="header-wrapper">
    <h2 class="page-header mb-5">Акції</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 mb-5" *ngFor="let discount of userDiscounts">
      <div class="card">
        <img [src]="discount.imagePath" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h2 class="card-title fw-bold">{{ discount.name }}</h2>
          <a
            [routerLink]="['/actions/', discount.id]"
            class="btn discount-btn fw-bold"
            >ДІЗНАТИСЬ БІЛЬШЕ</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
