<div class="container-fluid">
  <div class="header-wrapper">
    <h2 class="page-header mb-5">Продукти</h2>
  </div>

  <div class="d-flex justify-content-center">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Всі</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Філадельфія</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Каліфорнія</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Запечені</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Фірмові</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Макі</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link product-nav-btn"
          [routerLink]="['roli']"
          routerLinkActive="active"
          >Преміум</a
        >
      </li>
    </ul>
  </div>
  <div class="row mt-3">
    <div class="col-3" *ngFor="let product of userProducts">
      <div class="card w-100 m-4 p-4 prod-card">
        <div class="prod-img-container">
          <img
            [routerLink]="[
              '/product-category/' + product.category.path,
              product.path
            ]"
            (click)="learnMore(product)"
            [src]="product.imagePath"
            class="card-img-top d-block product-img"
            alt="..."
          />
        </div>

        <div class="card-body">
          <div
            [routerLink]="[
              '/product-category/' + product.category.path,
              product.id
            ]"
            (click)="learnMore(product)"
            class="product-name"
          >
            <h3 class="text-center fw-bold">
              {{ product.name }}
            </h3>
          </div>
          <div class="product-ing">
            <p class="ing-parag">{{ product.ingredients }}</p>
            <p class="fw-bold">{{ product.weight }}</p>
          </div>
          <div class="prod-card-footer">
            <p class="fw-bold">{{ product.price }}</p>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-light">-</button>
              <input type="text" class="number-input" value="1" />
              <button type="button" class="btn btn-light">+</button>
            </div>
            <button class="order-btn">ЗАМОВИТИ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
