.product-nav-btn {
  height: 60px;
  line-height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid lightgrey;
  text-align: center;
  font-weight: bold;
  color: black;
}

.product-nav-btn.active {
  font-weight: bold;
  border-bottom: none;
}

.prod-card:hover {
  border: 1px solid var(--primary-color);
}

.product-name {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.product-ing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.ing-parag {
  width: 260px;
}

.prod-img-container {
  height: 300px;
  display: flex;
  justify-content: center;
}

.product-img {
  object-fit: contain;
}

.product-img:hover {
  cursor: pointer;
}
