<div class="container-fluid">
  <div class="d-flex align-items-start">
    <div
      class="nav flex-column nav-pills me-3 mt-5 ms-1"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="admin-nav-btn"
        type="button"
        [routerLink]="['action']"
        routerLinkActive="active"
      >
        Акції
      </button>
      <button
        class="admin-nav-btn"
        [routerLink]="['category']"
        routerLinkActive="active"
        type="button"
      >
        Категорії
      </button>
      <button
        class="admin-nav-btn"
        [routerLink]="['product']"
        routerLinkActive="active"
        type="button"
      >
        Товари
      </button>
      <button
        class="admin-nav-btn"
        [routerLink]="['order']"
        routerLinkActive="active"
        type="button"
      >
        Замовлення
      </button>
    </div>
    <div class="tab-content mt-5" id="v-pills-tabContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
