<h2 class="fw-bold mb-4">Зміна паролю</h2>
<form>
  <div class="mb-3">
    <input
      formControlName="currentPassword"
      type="text"
      class="form-control admin-text-input"
      placeholder="* Ваш поточний пароль"
      style="width: 716px"
    />
  </div>
  <div class="mb-3">
    <input
      formControlName="newPassword"
      type="text"
      class="form-control admin-text-input"
      placeholder="* Новий пароль"
      style="width: 716px"
    />
  </div>
  <div class="mb-3">
    <input
      formControlName="confirmedPassword"
      type="text"
      class="form-control admin-text-input"
      placeholder="* Повторіть пароль"
      style="width: 716px"
    />
  </div>

  <div class="d-flex justify-content-between">
    <button type="submit" class="admin-add-btn mt-2">СКАСУВАТИ</button>

    <button type="submit" class="admin-add-btn mt-2">ЗБЕРЕГТИ ЗМІНИ</button>
  </div>
</form>
