@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --primary-color: #b5d8f7;
}

body {
  font-family: "Comfortaa", cursive;
}

p {
  white-space: pre-wrap;
}

body::-webkit-scrollbar {
  display: none;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.page-header::before {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

.page-header {
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  margin-top: 50px;
}

.block-header {
  font-weight: bold;
  font-size: 20px;
}

/* ADMIN STYLES */
.admin-add-btn {
  width: 250px;
  height: 60px;
  background-color: #b5d8f7;
  border: none;
  border-radius: 10px;
}

.admin-text-input {
  height: 60px;
  width: 350px;
}

.admin-file-input {
  height: 60px;
}

.img-delete-btn {
  width: 250px;
  height: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* TABLE */
.admin-table {
  width: 1000px;
}

.table-actions-btn {
  color: #b5d8f7;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  font-weight: bold;
}

/* BUTTONS */
.order-btn {
  background-color: #b5d8f7;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  width: 125px;
  height: 40px;
}

.order-btn:hover {
  background-color: transparent;
}

/* PRODUCT */
.prod-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.number-input {
  width: 50px;
  border: none;
  text-align: center;
}

.number-input:focus {
  outline: none;
}

/* ANGULAR MATERIAL STYLE */

.dialog-back {
  background-color: rgba(0, 0, 0, 0.701);
}

.auth-dialog {
  width: 800px;
  min-height: 300px;
}
