@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: "Comfortaa", cursive;
}

body::-webkit-scrollbar {
  display: none;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.page-header::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #b5d8f7;
  margin: 0 auto;
}

.page-header {
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  margin-top: 50px;
}

.block-header {
  font-weight: bold;
  font-size: 20px;
}

/* ADMIN STYLES */
.admin-add-btn {
  width: 250px;
  height: 60px;
  background-color: #b5d8f7;
  border: none;
  border-radius: 10px;
}

.admin-text-input {
  height: 60px;
  width: 350px;
}

.admin-file-input {
  height: 60px;
}
