<h2 class="fw-bold">Історія замовлень</h2>
<div class="row">
  <div class="col-12">
    <table class="table admin-table mt-4">
      <thead>
        <tr>
          <th scope="col">№ замовлення</th>
          <th scope="col">Дата та час</th>
          <th scope="col">Адреса</th>
          <th scope="col">Сума</th>
          <th scope="col">Статус</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="fw-bold">№ 3151</td>
          <td>08 2022 18:47:25</td>
          <td>Самовивіз</td>
          <td>510 грн</td>
          <td class="green">виконано</td>

          <td>
            <button class="table-actions-btn">Повторити</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Запечені моно макі з лососем</td>
          <td></td>
          <td>1</td>
          <td></td>

          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Запечений сет</td>
          <td></td>
          <td>1</td>
          <td></td>

          <td></td>
        </tr>
        <tr>
          <td class="fw-bold">№ 4</td>
          <td>07 2022 18:22:02</td>
          <td>Львів, вулиця Франка 61</td>
          <td>250 грн</td>
          <td class="green">виконано</td>

          <td>
            <button class="table-actions-btn">Повторити</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Запечений сет</td>
          <td></td>
          <td>1</td>
          <td></td>

          <td></td>
        </tr>
        <tr>
          <td class="fw-bold">№ 14828</td>
          <td>06 2022 19:47:25</td>
          <td>Самовивіз</td>
          <td>260 грн</td>
          <td class="green">виконано</td>

          <td>
            <button class="table-actions-btn">Повторити</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Запечені моно макі з лососем</td>
          <td></td>
          <td>1</td>
          <td></td>

          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
