<button class="admin-add-btn" (click)="displayActionFunc()">
  ДОДАТИ АКЦІЮ
</button>
<div *ngIf="displayAction" class="mt-5">
  <form [formGroup]="discountForm" (ngSubmit)="addDiscount()">
    <div class="mb-3 d-flex">
      <input
        formControlName="name"
        name="name"
        id="name"
        type="text"
        class="form-control me-3 admin-text-input"
        placeholder="* Назва"
      />
      <input
        formControlName="title"
        name="title"
        id="title"
        type="text"
        class="form-control admin-text-input"
        placeholder="* Заголовок"
      />
    </div>
    <div class="mb-3">
      <textarea
        formControlName="description"
        name="description"
        id="description"
        class="form-control"
        cols="30"
        rows="4"
        placeholder="* Опис"
        style="width: 716px"
      ></textarea>
    </div>
    <ng-container *ngIf="!isUploaded">
      <div class="mb-3">
        <input
          class="form-control form-control-lg"
          type="file"
          style="width: 716px"
          (change)="upload($event)"
        />
      </div>
      <div
        class="progress mb-3"
        role="progressbar"
        aria-label="Info striped example"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 716px"
      >
        <div
          class="progress-bar progress-bar-striped bg-info"
          [style.width.%]="uploadPercent"
        ></div>
      </div>
    </ng-container>
    <ng-container *ngIf="isUploaded">
      <img [src]="valueByControl('imagePath')" alt="" class="discount-img" />
      <button
        type="button"
        class="btn btn-danger img-delete-btn"
        (click)="deleteImage()"
      >
        ВИДАЛИТИ
      </button>
    </ng-container>

    <button
      [disabled]="discountForm.invalid"
      type="submit"
      class="admin-add-btn mt-2"
    >
      ЗБЕРЕГТИ
    </button>
  </form>
</div>
<div class="row">
  <div class="col-12">
    <table class="table admin-table mt-5">
      <thead>
        <tr>
          <th scope="col">Назва</th>
          <th scope="col">Заголовок</th>
          <th scope="col">Опис</th>
          <th scope="col">Картинка</th>
          <th>Дії</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let discount of adminDiscounts">
          <td>{{ discount.name }}</td>
          <td>{{ discount.title }}</td>
          <td>
            {{ discount.description | slice : 0 : 60 }}
            <span *ngIf="discount.description.length > 60">...</span>
          </td>
          <td>
            <img [src]="discount.imagePath" alt="" height="50px" />
          </td>
          <td>
            <button (click)="editDiscount(discount)" class="table-actions-btn">
              Редагувати
            </button>

            <button
              (click)="deleteDiscount(discount)"
              class="table-actions-btn"
            >
              Видалити
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
